* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    color: #404040;
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
}

/*==============================================
    typography
==============================================*/

h1 {
    font-size: 2.25rem;
    font-weight: 300;
    color: white;
}

h1 + p,
h2 + p,
.top-text {
    color: #f18119;
    font-weight: 900;
    text-transform: uppercase;
}
/* make a class instead to be more robust */
h1 + p {         /* p is a next sib of h1 */
    font-size: 1.3125rem;
    letter-spacing: 1px;
    
}
h2 {
    font-size: 1.3125rem;
}

h2 + p {
    letter-spacing: 1px;
}
.top-text {
    font-size: 0.625rem;
    letter-spacing: 3px; 
}
.fine-print {
    font-size: 0.625rem;
    letter-spacing: 1px;
}
strong {
    font-weight: 900;
}

/*==============================================
    intro
==============================================*/

.intro {
    /* background-color: #404040; */
    background-image: url(../images/ribs.jpg), linear-gradient(45deg, #000000, #ffffff);
    background-blend-mode: multiply;
    background-size: cover;
    background-position: center;
    padding: 0 .5em 2em;

    min-height: 50vh;
}

h1 {
    margin: 0;
}
h1 + p {
    margin: 0;
}
.top-text {
    order: -1;
}
/* direct child of intro or main-content */
.intro > *,
.main-content > * {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}
.intro,
.main-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
/*==============================================
    main-content
==============================================*/

.main-content {
    padding: 2em 1em;
}

h2 {
    margin: 0;
}

h2 + p {
    margin-top: 0;
}


.top-text {
    border-top: 10px solid #f18119;
    margin-top: 0;
    padding-top: 1em;
    border-image: linear-gradient(to bottom right, #ff713b, #ffa51d) 1;
}
/*==============================================
    form
==============================================*/

.email-collector {
    width: 60%;
    max-width: 300px;
}
input,
.button {
    width: 100%;
    font-family: inherit;
    text-align: inherit;
    margin-bottom: 1.5em;
    border-radius: 3px;

}
input {
    border: 1px solid #404040;
    padding: .5em;
}
.button {
    text-transform: uppercase;
    letter-spacing: 2px;
    color: white;
    font-weight: 900;
    border: 0;
    padding: .7em;
    cursor: pointer;
}

.button-primary {
    background: linear-gradient(to top left, #ff713b, #ffa51d);
}

input,
.button-primary {
    transform: scale(1);
    transition: transform 250ms;
}

input:focus,
.button-primary:hover,
.button-primary:focus {
    transform: scale(1.05);
}

/*==============================================
    media query
==============================================*/

@media (min-width: 500px) {
    body {
        font-size: 1.125rem;
        display: flex;
    }
    h1 {
        font-size: 3.5rem;
    }

    h1 + p,
    h2 {
        font-size: 1.75rem;
    }

    .intro,
    .main-content {
        width: 50%;
        min-height: 100vh;
    }
    .main-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .container-intro {
        height: 100%
    }
}
