
:root {
    --darkPurple: #3b306c;
    --purple: #553fb4;
    --yellow: lightgoldenrodyellow;
    --pink: #eabbbd;
    --turquoise: #edf7f7;
    --gray: #f2f2f2;
}

/* ============================================
     Typography
=============================================*/
body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    line-height: 1.4;
    font-weight: 600;
    /* color: #3b306c; */
    color: var(--purple);
}
.itm {
    /* We center the contents of these items. You can also do this with flexbox too! */
    /* border: 1px solid rgba(0, 0, 0, 0.3); */
    border-radius: 3px;
    font-size: 35px;
    background: var(--yellow);
   
  }
h2 {
    font-size: 1.5rem;
}
body {
    background: var(--gray);
}
.album {
    background: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
/* ============================================
    Layout
=============================================*/
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  min-height: calc(100vh - 100px);
  margin: 50px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 0 0;
}

.itm {
  /* We center the contents of these items. You can also do this with flexbox too! */
  display: grid;
  justify-content: center;
  align-items: center;
}

.albums {
    min-height: calc(100vh - 100px);
    margin: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    grid-gap: 2em;
    /* justify-items: center;
    align-items: center; */
    /* place-items: center center; */
    /* justify-content: center;
    align-content: center; */
 
}
.album__artwork {
    width: 100%;
}
.album {

    padding: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
    align-content: center;
}




