:root {
    --darkPurple: #3b306c;
    --purple: #553fb4;
    --yellow: #f4d17a;
    --orange: #f27c4e;
    --red: #ed4800;
    --mutedPurple: #9e78a2;
    --blue: #8cb9b5;
    --green: #759488;
}

/* ============================================
     Typography
=============================================*/
body {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.6;
    color: var(--darkPurple);
}
.typewriter {
    font-family: 'Special Elite', cursive;
}
h1,
h2 {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Special Elite', cursive;
    font-weight: 300;
    font-size: 3rem;

}
/* h2 {
    font-size: 4rem;
} */
a {
    color: var(--purple); 
}
/* ============================================
     Layout
=============================================*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.intro {
    padding: 50px;
    height: 100vh;
    display: flex;

    background: linear-gradient(rgba(255, 255, 255, 0.5),
     rgba(255, 255, 255, 0.9)),  
      url("../images/background-js.jpg");
    background-size: cover;
}

.typing {
    position: relative;
    padding-left: .5em;
    /* border: magenta 1px solid; */


}
.typing::after {
    content: "";
    position: absolute;
    width: 1px;
    height: 7%;
    /* right: -.5em; */
    border-right: 4px solid var(--darkPurple);
    animation: blink .7s infinite ease;
}

@keyframes blink {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}



