/* ============================================
     Typography
=============================================*/
body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1rem;
    line-height: 1.6;
    color: #404040;
    color: #363b35;
    text-align: center;
}
h1 {
    font-size: 2.25rem;
    font-weight: 300;
    color: white;
    line-height: 1.2;
}

h1 + p,
.sparkle-text,
h2 + p {
    color: #cf9f5b;
    /* color: #d58200; */
    /* color: #d56400; */
    font-weight: 900;
}

h1 + p { /* + means adjacent */
    font-size: 1.3125rem;
    text-transform: uppercase;
    
}
.sparkle-text {
    /* font-size: 0.625rem; */
    text-transform: lowercase;
    letter-spacing: 1px;

}
.fine-print {
    font-size: 0.625rem;
    letter-spacing: 1px;
}

h2 {
    font-size: 1.3125rem;
}
h2 + p {
    font-size: 1rem;
    text-transform: uppercase;
}

strong {
    font-weight: 900;
}
.intro {
    background-color: #778583;
    background-image: url(../images/succulent.jpg);
    background-size: cover;
    background-position: center;
}
input,
.button {
    font-family: inherit;
    font-size: inherit;
    text-align: inherit;
    border-radius: 5px;
}
input {
    border: 1px  #363b35 solid;
}
.button {
    font-size: 0.625;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 1px;
    background-image: linear-gradient(150deg,#f1dbbc, #cf9f5b);
    color: white;
    border: 0;
    cursor: pointer;
}
input,
.button-primary {
    transform: scale(1);
    transition: transform 250ms;
}
input:focus,
.button-primary:hover,
.button-primary:focus {
    transform: scale(1.1);
}
@media (min-width: 500px) {
    body { 
        font-size: 1.125rem;
    }
    h1 {
        font-size: 3.5rem;
    }
    h2,
    h1 + p {
        font-size: 2rem;
    }
}
/* ============================================
     Layout
=============================================*/
* {
    box-sizing: border-box;
}
body {
    margin: 0;
    max-width: 1000px;
    margin: 0 auto;
}
.intro,
.main-content {
    display: flex;
    flex-direction: column;
    
    min-height: 50vh;
}
.intro {
    padding: 0 .5em 2em;
    justify-content: space-between;
}
.main-content {
    /* padding: 1em 1em; */
    justify-content: center;
    padding-bottom: 3em;
}
.sparkle-text {
    order: -1;
}
h1 {
    margin: 0;
}

.intro > *,
.main-content > * {
    max-width: 400px;
    margin-right: auto;
    margin-left: auto;
}

.email-collector {
    max-width: 300px;
    width: 80%;
}
input,
.button {
    width: 100%;
    text-align: center;
    padding: 1em;
    margin-bottom: 1em;
}

@media (min-width: 500px) {
    body {
        display: flex;
    }
    .intro,
    .main-content {
        width: 50%;
        min-height: 100vh;
    }


}
