/*--------------------------------------------------------*/
/*                    set text color                      */
/*--------------------------------------------------------*/
@function set-text-color($background) {
  @if(lightness($background) > 50) {
    @return #232323;
  } @else {
    @return #ededed;
  }
}
/*--------------------------------------------------------*/
/*                   transform mixin                      */
/*--------------------------------------------------------*/
@mixin transform($property) {
  --webkit-transform: $property;
  -ms-transform: $property;
  transform: $property;
}