* {
  /* margin: 5px;
  padding: 5px; */
  box-sizing: border-box;
}
h1, h2, h3{
  text-align: left;
  color: darkkhaki;
  color: #7d772b;
  font-family: 'Barriecito', cursive;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;

  padding: 20px;
}
h1 {
  color: #e9a41f;
  font-size: 60px;
  font-weight: 200;
}
body {
  font-family: 'Josefin Slab', serif;
  font-weight: bold;
  color: #5e4f26;
  font-size: 23px;

}
ul {
  list-style-image: url("../images/cat-face.gif");
}
img {
  display: block;
  margin: 50px 0px;
  padding 0px;
}
p, li{
  padding: 0px 15px;
  margin: 20;
}
