* {
  /* margin: 5px;
  padding: 5px; */
  box-sizing: border-box;
}
h1, h2, h3{
  text-align: left;
  color: darkkhaki;
  color: #7d772b;
  font-family: 'Barriecito', cursive;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 200%;
  /* padding: 20px; */
}
h1 {
  color: #e9a41f;
  font-size: 100px;
  font-weight: 100;
}
body {
  /* font-family: 'Josefin Slab', serif;
  font-family: 'Slabo 13px', serif;
  font-family: 'Zilla Slab Highlight', cursive; */
  font-family: 'Zilla Slab', serif;
  /* font-weight: bold; */
  color: #5e4f26;
  /* color: #000000; */
  font-size: 24px;
  /* line-height: 1.4em; */
}
ul {
  list-style-image: url("../images/cat-face.gif");
  /* list-style-image: url("../images/star.png"); */
}
img {
  display: block;
  margin: 50px 0px;
  padding 0px;
}
p, li{
  padding: 0px 15px;
  margin: 20;
}
a:link {
  color: #3093ba;
}
a:visited {
  color: #295262;
}
a:hover {
  color: #e9a41f;
}
