:root {
    --darkPurple: #3b306c;
    --purple: #553fb4;
    --yellow: lightgoldenrodyellow;
    --pink: #eabbbd;
    --turquoise: #edf7f7;
    --gray: #f2f2f2;
}
/* ============================================
     Typography
=============================================*/
body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 3rem;
    line-height: 1.6;
    font-weight: 400;
    color: var(--darkPurple);
    background:  var(--gray);
}
.item {

    border: 5px solid rgba(0, 0, 0, 0.03);
    border-radius: 3px;
    font-size: 35px;
    background-color: var(--yellow); /* best colour */
}

/* ============================================
     Layout
=============================================*/
* {
    box-sizing: border-box;
}
/* body {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80%;
} */

 .item {
    /* We center the contents of these items. You can also do this with flexbox too! */
    display: grid;
    justify-content: center;
    align-items: center;

  }
.flipper {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
}
.flipper.flip {
    grid-template-columns: 1fr;
} 
