:root {
  --primary-color: #8851cf;
  --secondary-color: #53357a;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1.5;

}

#navbar ul {
  list-style: none;
}
#navbar ul li {
  color: var(--primary-color);
  display: inline-block;
  padding: 1rem;
  position: relative;
}
#navbar ul li a {
  color: var(--primary-color);
  text-decoration: none;
}
/*--------------------------------------------------------*/
/*                    hide nested ul                      */
/*--------------------------------------------------------*/
#navbar ul li ul {
  display: none;
}
/*--------------------------------------------------------*/
/*                       li hover                         */
/*--------------------------------------------------------*/
#navbar ul li:hover {
  cursor: pointer;
  background: var(--primary-color);
  color: #fff;
}
#navbar ul li:hover a{
  cursor: pointer;
  /* background: var(--primary-color); */
  color: #fff;
}
/*--------------------------------------------------------*/
/*                  nested drowdown show                  */
/*--------------------------------------------------------*/
#navbar ul li:hover ul {
  display: block;
  position: absolute;
  left: 0;
  width: 200px;
  margin-top: 1rem;
}
#navbar ul li:hover ul li{
  display: block;
  background: #e7e7e7;
}
#navbar ul li:hover ul li a{
  color: var(--primary-color);
}
#navbar ul li:hover ul li:hover {
  background: #d0d0d0;
  color: inherit;
}
#navbar ul li:hover ul li span{
  float: right;
  color: #fff;
  background: var(--primary-color);
  padding: .2rem .5rem;
  text-align: center;
  font-size: .8rem;
  border-radius: 5px;
}
#navbar ul li:hover ul li:hover span{
  background: var(--secondary-color);
}
#showcase {
  display: flex;
  height: calc(100vh - 62px);
  align-items: center;
  justify-content: center;
  text-align:center;
  padding: 0 2rem;
  background: var(--primary-color);
  color: #fff;
}
/*--------------------------------------------------------*/
/*                        skinny                          */
/*--------------------------------------------------------*/
@media(max-width: 600px) {
  #navbar ul li {
    display: block;
  }
  #navbar ul li:hover ul {
    width: 100%;
    position: relative;
  }
}