body {
    margin: 0;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    color: #2e354f;
}
h1, 
h2,
strong {
    font-weight: 900;
}

/********************************** typeography */

h1 {
    font-size: 36px;
    margin: 0;
}
h2 {
    font-size: 24px;
    color: #ef5839;
}
a {
    color: #ef5839;
    font-weight: 900;
}
a:hover,
a:focus {
    color: #f18a76;
}

/********************************** buttons */

.button {
    display: inline-block;
    margin-right: 10px;
    padding: 25px;
    text-decoration: none;
    font-weight: 900;
}

.button-dark {
    background: #ef5839;
    color: #fff;
}
.button-dark:hover,
.button-dark:focus {
    background: #f18a76;
}

.button-light {
    background: #fff;
    color: black;
}
.button-light:hover,
.button-light:focus {
    background: #a2a9c7;
    color: black;
}

/********************************** layout */

.container {
    width: 620px;
    margin: 0 auto;
}

header {
    background: #2e354f;
    color: #fff;
    padding: 45px 0;
}

.section {
    padding: 45px 0;
}
.section-two {
    background: #2e354f;
    color: #fff;
}

