/* ============================================
     Typography
=============================================*/
body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.2rem;
    line-height: 1.6;
    color: #553fb4;
    font-weight: 600;
}
.card-body {
    color: #3e2f68;
}

.card-content {
    background-image: linear-gradient(130deg, white, white, #d6cff5);
}
.card-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    font-weight: 100;
    line-height: 1.1;
}

.card-button {
    font-weight: 900;
    font-size: 1.5rem;
}
.card-read-time {
    color: #3e2f68;
    line-height: 1;
    letter-spacing: .8px;
    opacity: .9;
}
.card-read-time span {
    font-size: 2.5rem;
    font-weight: 900;
    display: block;
}
.card-button {
    background-image: linear-gradient(150deg, #3e2f68, #553fb4);
    /* background-image: url(../images/acrylic-pouring-500x750.jpg); */
    background-position: left bottom;
    color: white;
    text-decoration: none;
    letter-spacing: 1px;
}
.card-button {
    transform: scale(1);
    transition: transform 250ms;
}
.card-button:hover,
.card-button:focus {
    transform: scale(1.1);
}

/* ============================================
     Layout
=============================================*/
* {
    box-sizing: border-box;
}
body {
    width: 80%;
    margin: 0 auto;
    max-width: 800px;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-image {
    flex-basis: 350px;
    object-fit: cover;
    min-width: 0;
    min-height: 0;
}
.card {
    display: flex;
    flex-direction: column;
}
.card-content {
    padding: 1em;
}
.card-title {
    margin: .25em 0;
}
.card-footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 4em 0 0;
    /* margin-top: auto; */
}
.card-read-time {
    margin: 0;
}
.card-button {
    padding: .25em .8em .4em;
}
@media (min-width: 600px) {
    .card {
        flex-direction: row;
    }

}