/* ====================
Typography
=====================*/
body {
    font-family: 'Ubuntu', sans-serif;
    color: #6334a9;
    /* color: #932f92;
    color: #d24d98; */
    font-size: 1 rem;
    line-height: 1.6;
    font-weight: 300;
}
header {
    text-align: center;
}

h1, h2 {
    font-family: 'Lora', serif;
    color: #aabd2a;
    color: #6b873e;
    font-weight: 400;
    line-height: 1.2;
}
h1 {
    font-size: 3rem;
}
h2 {
    font-size: 2rem;
}
strong {
    font-weight: 700;
}
.subtitle { 
    font-weight: 700;
    font-size: .75rem;
}
.nav-link {
    text-decoration: none;
}
a {
    color: #e7529b;
    font-weight: 700;
}
a:hover,
a:focus {
    color: #1792d2;
}
.current-page {
    border-bottom: 1px solid #e7529b;
}
.article-featured {
    border-bottom: #6334a9 solid 1px;
}
.article-featured-continue-reading,
.article-info {
    font-size: 0.875
}
.article-featured-continue-reading {
    text-transform: lowercase;
    letter-spacing: 2px;
}
@media (min-width: 700px) {
    header {
        text-align: left;
    }
}
.footer {
    background: #6334a9;

}
.foot {
    color: #6b873e;;
    text-align: center;
    font-weight: 700;
}
/* ====================
Layout
=====================*/
body,
h1,
.subtitle {
    margin: 0;
}
h1,
h2,
h3 {
    margin-top: 0;
}
img {
    max-width: 100%;
    display: block;
}
header {
    padding: 2em 0;
}
.footer,
.container {
    margin: 0 auto;
    width: 90%;
    max-width: 900px;
    /* border: orange 1px solid; */
}
.container-flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.header-image {
    margin-bottom: 2em;
}
/* navigation */
.nav-list {
    /* border: 1px solid magenta; */
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* border: magenta 1px solid; */
}
.nav-list-item {
    /* border: 2px dotted orange; */
    margin: 0 1em;
}
.nav-link {
    /* border: 3px solid green; */
    padding: .25em 0;
}
/* articles */
.article-featured,
.article-recent {
    padding-bottom: 2em;
    border-bottom: #6334a9 solid 1px;
    margin-bottom: 4em;
}

.article-featured {
    display: flex;
    flex-direction: column;
    margin-top: 0;
}
.article-title {
    /* border: magenta 1px solid; */
    margin-bottom: 0;
}
.article-image {
    order: -2;
}
.article-info {
    order: -1;
}
.article-info {
    /* margin: 1.5em 0; */
}
.article-featured-continue-reading {
    text-decoration: none;
}
.article-recent {
    display: flex;
    flex-direction: column;
    margin-bottom: 4em;
}
.article-recent-secondary {
    order: -1;
}
.article-recent-image {
    height: 400px;
    width: 100%;
    object-fit: cover;
}
/* sidebar */
.sidebar-wiget-no-image,
.sidebar-widget {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.sidebar-widget{
    margin-top: 1.5em;
}
.sidebar-widget-no-image {
    margin-top: 1.5em;
}
.sidebar-widget-image {
    /* order: -1; */
    margin-bottom: 1em;
}
.footer {
    padding: 2em 0;
}
.foot{
    margin: 0;
}
.article-recent-last {
    margin-bottom: 0;
}
@media (min-width: 750px) {
    .container-flex {
        flex-direction: row;
    }
    .nav-list-item {
        margin-right: 0;
        margin-left: 2em;
    }
    main {
        width: 70%;
    }
    aside {
        width: 26%;
    }
    .article-recent {
        flex-direction: row;
        justify-content: space-between;
    }
    .article-recent-main {
        width: 57%;
    }
    .article-recent-secondary {
        width: 40%;
    }
    .article-recent-image {
        height: 400px;
        width: 100%;
        object-fit: cover;
    }
    .article-recent-last {
        border-bottom: 0;
    }
    .sidebar-widget{
        margin-top: 0;
    }
}
@media (max-width: 400px) {
    .nav-list {
        flex-direction: column;
    }
    .nav-list-item {
        margin: .4em;
    }
}

