/*-------------------------------------------------
    typography
-------------------------------------------------*/
body {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.6;
    color: #322e22;
}
h1,
h2,
a {
    font-weight: 700;
    line-height: 1.2;
}
h1 {
    color:  #716956;
}
h2 {
    color: #3c372a;
}
img {
    background: white;
}
a:link,
a:visited {
    color: #3c372a;
}
a:hover,
a:focus {
    color: #FFA500;
}
.container {
    background: #f4f2eb;
}
/*-------------------------------------------------
    layout
-------------------------------------------------*/
* {
    box-sizing: border-box;
}
body {
    margin: 0;
}
.header,
.blog-content {
    margin: 0 auto;
    width: 90%;
    max-width: 600px;
    padding: .5em 0;
}
img {
    display: block;
    width: 100%;
}
p {
    padding: .5em 0;
}

