/*-------------------------------------------------
    typography
-------------------------------------------------*/
body {
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: #322e22;
}
.blog-content {
    background: #f4f2eb;
}
.title {
    color:  #716956;
    font-size: 48px;
    font-weight: 700;
}
.blog-title {
    color: #3c372a;
    font-size: 32px;
    font-weight: 700;
}
a:link,
a:visited {
    color: #3c372a;
    font-weight: 700;
}
a:hover,
a:focus {
    color: #FFA500;
}
/*-------------------------------------------------
    layout
-------------------------------------------------*/
* {
    box-sizing: border-box;
}
body {
    margin: 0;
}
.title {
    padding: 2rem;
}
.blog-content {
    padding: 2rem;
}
.blog-title {
    margin: 0;
}

